/* Inspired by http://lea.verou.me/css3patterns/ */
div {
  min-height: 100px;
  border-style: double;
  border: 2px solid #555;
  flex: 1 300px;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
div.horizontal-stripes {
  background: linear-gradient(tan 50%, grey 50%);
  background-size: 100% 20px;
}

div.horizontal-stripes-unequal {
  background: linear-gradient(tan 30%, grey 0);
  background-size: 100% 20px;
}

div.horizontal-stripes-four-colors {
  background: linear-gradient(cornflowerblue 0, cornflowerblue 25%, white 25%,white 50%, red 50%, red 75%, darkgreen 75%, darkgreen 100%);
  background-size: 100% 50px;
  background-repeat: no-repeat;
}

div.easy-stripes {
  background-color: white;
  background-image: linear-gradient(90deg, black 50%, transparent 50%);
  background-size: 10px 10px;
}

div.aligned-dots {
  background-color: grey;
  background-image: radial-gradient(circle, tan 20%, transparent 20%);
  background-size: 30px 30px;
}
div.polka {
  background-color: grey;
  background-image: radial-gradient(circle, tan 10%, transparent 10%), radial-gradient(circle, tan 10%, transparent 10%);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

div.diagonal-dots {
  background-color: grey;
  background-image: radial-gradient(circle, tan 10%, transparent 10%), radial-gradient(circle, tan 10%, transparent 10%), radial-gradient(circle, tan 10%, transparent 10%);
  background-size: 90px 90px;
  background-position: 0 0, 30px 30px, 60px 60px;
}

div.square-shapes {
  background-color: grey;
  background-image: linear-gradient(tan 10%, transparent 10%), linear-gradient(90deg, tan 10%, transparent 10%);
  background-size: 40px 40px;
}

div.square-dots {
  background-image: linear-gradient(90deg, transparent 0%, transparent 10%, white 10%, white 100%),
  linear-gradient(0deg, tan 0%, tan 10%, white 10%, white 100%);
  background-size: 40px 40px;
}

div.square-repeating-dots {
   background-image: repeating-linear-gradient(90deg, transparent, transparent 4px, white 4px,white 40px), repeating-linear-gradient(tan, tan 4px, white 4px,white 40px);
}